<main class="form-signin w-100 m-auto" x-data="{
    email: '',
    password: '',
    submit() {
        $store.auth.update(this.email)
        console.log('token:', $store.auth.token)
    }
}">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        x-model="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        x-model="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="button" x-on:click="submit()">Sign in</button>
  </form>
</main>
