<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
      id="productList"
    >
      <template id="productItem">
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="card-img-top"
              :src="p.ImageURL"
              width="100%"
              height="225"
              alt="Product Image"
            />
            <div class="card-body">
              <h5 class="productName"></h5>
              <p class="card-text">Rp. <span x-text="p.price"></span></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Add to Cart
                  </button>
                </div>
                <small class="text-body-secondary"
                  >Stok: <strong x-text="p.quantity"></strong
                ></small>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async function() {
      const response = await fetch('/api/product/list');
      const products = await response.json();

      const productList = document.getElementById('productList');
      const productItemTemplate = document.getElementById('productItem').innerHTML;

      for (const p of products) {
        const productItem = document.createElement('div');
        productItem.innerHTML = productItemTemplate;
        productItem.querySelector('h5').textContent = p.name;
        productItem.querySelector('img').src = p.ImageURL;
        productItem.querySelector('span').textContent = p.price;
        productItem.querySelector('strong').textContent = p.quantity;

        productList.appendChild(productItem);
      }
  });
</script>
